<html>
  <head>
    <title>Praxis Data Science</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <img src="/static/kkpraxis.png" alt="logo kk praxis">
    <h1> Praxis Data Science </h1>
    <h2> Data Entry Form</h1>
    Please enter numbers separated by comma
    <form action = "/multidata2"  method="post">
    
    <input type = "text" name = "inputData"><br>
    <input type = "submit" value = "submit">
    </form>
   <hr>
   Chronotantra
  </body>
</html>









